/* #id .class */

:root {
    --long: 60px;
    --short: 10px;
}
html * {
    color: rgb(31, 38, 67);
    font-family: 'Verdana', sans-serif !important;
}

body {
    background-color: #C8C8C8;
}

.title {
    display: block;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: rgb(24, 34, 78)
}

.subtitle {
    display: block;
    font-size: 1em;
    text-align: center;
    font-weight: semi-bold;
    color: rgb(101, 112, 164)
}

.content {
    text-align: center;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(24, 34, 78);
    width: var(--short);
    height: var(--short);
}

.line-h {
    display: inline-block;
    width: var(--long);
    height: var(--short);
    background-color: rgb(0, 0, 0);
}

.line-v {
    height: var(--long);
    width: var(--short);
    display: inline-block;
    background-color: rgb(0, 0, 20);
}

.square {
    display: inline-block;
    background-color: rgb(0, 200, 0);
    height: 60px;
    width: 60px;
}

#gameBoard{
    /* display: grid;
    grid-template-columns: repeat(6, 1fr 6fr) 1fr;
    grid-template-rows: repeat(6, 1fr 6fr) 1fr; */
}

.row-spacer {
    display: block;
}

.row-squares {
    display: block;
}

