/* #id .class */

:root {
    --long: 60px;
    --short: 15px;
    --border-width: 3px;

    --light-blue: #9AFFFC;
    --medium-blue: #64c8c8;
    --dark-blue: #3FABA7;


    --light-red: #F89389;
    --medium-red: #f8736a;
    --dark-red: #9F4036;
}
html * {
    color: rgb(31, 38, 67);
    font-family: 'Verdana', sans-serif !important;
}

body {
    background-color: rgb(200, 200, 200);
}

.title {
    display: block;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: rgb(24, 34, 78)
}

.subtitle {
    display: block;
    font-size: 1em;
    text-align: center;
    font-weight: semi-bold;
    color: rgb(101, 112, 164)
}

.content {
    text-align: center;
}

.dot {
    display: inline-block;
    border-radius: 15%;
    background-color: rgb(0, 0, 0);
    width: var(--short);
    height: var(--short);
}

.line-h {
    display: inline-block;
    width: var(--long);
    height: var(--short);
    background-color: rgb(69, 69, 69);
}

.line-h:hover, .line-h-red {
    width: 54px;
    height: 9px;
    background-color: var(--light-red);
    border: var(--border-width) solid var(--dark-red);
    cursor: pointer;
}

.line-h:active {
    width: 54px;
    height: 9px;
    background-color: var(--dark-red);
    border: var(--border-width) solid var(--dark-red);
    cursor: pointer;
}

.line-h-blue {
    width: 54px;
    height: 9px;
    background-color: var(--light-blue);
    border: var(--border-width) solid var(--dark-blue);
}

.line-v {
    height: var(--long);
    width: var(--short);
    display: inline-block;
    background-color: rgb(69, 69, 69);
}

.line-v:hover, .line-v-red {
    height: 54px;
    width: 9px;
    background-color: var(--light-red);
    border: var(--border-width) solid var(--dark-red);
    cursor: pointer;
}

.line-v-blue {
    height: 54px;
    width: 9px;
    background-color: var(--light-blue);
    border: var(--border-width) solid var(--dark-blue);
}

.line-v:active {
    height: 54px;
    width: 9px;
    background-color: var(--dark-red);
    border: var(--border-width) solid var(--dark-red);
    cursor: pointer;
}

.square {
    display: inline-block;
    background-color: rgb(128, 128, 128);
    height: 60px;
    width: 60px;
}

.square-red {
    background-color: var(--medium-red);
}

.square-blue {
    background-color: var(--medium-blue);
}

.row-spacer {
    display: block;
}

.row-squares {
    display: block;
}